:host{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

:host >>> svg{
  flex : 1;
}

.axis path,
.axis line {
  stroke: black;
}

.axis text {
  fill: black;
}

.axis .axis-x .axis-y path {
  stroke: black;
}