<section class="chartist">
  <ngb-accordion #acc="ngbAccordion" activeIds="1">
    <ngb-panel id="1" title="Meters Listing" baCardClass="with-scroll">
      <template ngbPanelContent>
        <app-table></app-table>
      </template>
    </ngb-panel>
    <ngb-panel id="2" title="Analyse" (click)="acc.toggle('2')">
      <template ngbPanelContent>
        <aree-fader [isVisible]="isVisible" [attachedComp]=partone></aree-fader>
        <!--<app-heatmap-chart *ngIf="dataTemp" [data]="dataTemp"></app-heatmap-chart>-->
        <!--<app-line-chart></app-line-chart>-->
        <!--<app-bar-chart *ngIf="dataTemp" [data]="dataTemp"></app-bar-chart>-->
        <app-performance-chart></app-performance-chart>
      </template>
    </ngb-panel>
  </ngb-accordion>
</section>