.rTableCell {
  text-align: left;
  vertical-align: middle;
  position: relative;
  height: 48px;
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 12px 18px;
  box-sizing: border-box;
}

:host {
  display: table-cell;

}

