$font-stack: Helvetica, sans-serif;
$primary-color: red;

:host {
  font: 100% $font-stack;
  color: $primary-color;
}

.rTable {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

.rTableHeading, .rTableBody, .rTableFoot, .rTableRow {
  clear: both;
}

.rTableHead, .rTableFoot {
  background-color: rgba(218, 218, 218, 0.23);
  font-weight: bold;
}

.rTableHead:after {
  display: block;
  content: "";
  clear: both;
}

.rTableCell {
  border: 1px solid #999999;
  float: left;
  height: 30px;
  padding: 3px 1.8%;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  resize: both;
}

.rTable:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:host {
  padding: 10px;
  margin: 5px;
}

.rTableHead {
  border: 1px solid rgba(128, 128, 128, 0.18);
  height: 30px;
  overflow: visible;
  width: 20%;
  align-content: stretch;
  align-items: stretch;
  float: left;
  resize: horizontal;
}
