<div class="dropdown">
  <div class="dropbtn" (click)="onShow()">
    <!--<img class="config" src="../../assets/icon/settings.svg">-->
  </div>
  <div class="dropdown-content" [ngStyle]="{'display': displayMenu}">
    <form #configForm="ngForm" (ngSubmit)="saveConfig(configForm.value)">
      <div header>
      </div>
      <div content>
        <div>
          <input type="text" hidden="true" [(ngModel)]="columnName" name="name">
          <input type="text" hidden="true" [(ngModel)]="dataIndex" name="data">
          <input type="checkbox" name="freez" [(ngModel)]="freezColumn">
          <label> Freez </label>
          <br>
          <label> Mesure </label>
          <select type="select" name="dataType" [(ngModel)]="dataType" placeholder="text">
            <option *ngFor="let n of dataTypes" [value]="n.value">
              {{ n.key }}
            </option>
          </select>
        </div>
        <div>
          <label> Nature </label>
          <select type="select" name="nature" [(ngModel)]="nature" placeholder="text">
            <option *ngFor="let n of natures" [value]="n.value">
              {{ n.key }}
            </option>
          </select>
        </div>
        <div>
          <label> Period </label>
          <select type="select" name="periodUnit" [(ngModel)]="periodUnit" placeholder="text">
            <option *ngFor="let p of periods" [value]="p.value">
              {{ p.key }}
            </option>
          </select>
          <label> Valeur </label>
          <input type="text" name="offsetPeriod" [(ngModel)]="offsetPeriod" placeholder="text">
        </div>
        <div>
          <label> Décalage </label>
          <select type="select" name="durationUnit" [(ngModel)]="durationUnit" placeholder="text">
            <option *ngFor="let p of periods" [value]="p.value">
              {{ p.key }}
            </option>
          </select>
          <label> Valeur</label>
          <input type="text" name="duration" [(ngModel)]="duration">
        </div>
      </div>
      <div footer>
        <button type="submit" class="confirm-btn">config</button>
        <button type="reset" class="cancel-btn">Annule</button>
      </div>
    </form>
    {{ from.values | json }}
  </div>
</div>

