/*.dropbtn {*/
/*background-color: #4CAF50;*/
/*color: white;*/
/*padding: 16px;*/
/*font-size: 16px;*/
/*border: none;*/
/*cursor: pointer;*/
/*}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: rgba(178, 179, 180, 0.3);
  width: 1.5vw;
  display: table-cell;
  padding: 4px;
}

form {
  padding: 10px;
  border: 1px solid gray;
}

input {
  padding-bottom: 3px;
  padding-top: 3px;
}

:host {
  margin-outside: 3px;
}

.filter-icon {
  background-image: url("../../assets/icon/filter.png");
}

.dropbtn > img {
  width: 100%;
  object-fit: contain
}
