:host{
  display: flex;
  flex-direction: row;
}

:host > svg {
  flex : 1;
}


rect.bordered {
  stroke: #c3c3c3;
  stroke-width: 1px;
}

text.mono {
  font-size: 12px;
  font-family: Consolas, courier;
  fill: #545454;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

.axis path, .axis tick, .axis line {
	fill: none;
 stroke: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 5px;
  font: 12px sans-serif;
  background:ghostwhite;
  border: 0px;
  pointer-events: none;
}
