rect.bordered {
  stroke: #c3c3c3;
  stroke-width: 1px;
}

text.mono {
  font-size: 12px;
  font-family: Consolas, courier;
  fill: #545454;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

svg{
  padding-left: 80px;
  padding-top: 20px;
}
