.rTableRow {
  clear: both;
}
.child-row :first-child span {
  padding-left: 10px;
}

:host {
  cursor: pointer;
  width: 100%;
}

.icon-expended {
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

img {
  -ms-transform: rotate(-30deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
  margin-right: 3px;
}

.selected-row {
  background: red;
}
