<div class="rTableRow" *ngFor="let row of children;let j = index" [ngClass]="{'selected-row': selectedRow}">
  <app-table-cell *ngFor="let cell of columns;let i = index" [cellWidth]="cellWidth" [padding]="padding" [index]="i"
                  (selected)="selectRowTable($event)">
      <span *ngIf="i == 0 " [ngStyle]="{'padding-left': padding +'px'}"><img src="../../assets/img/triangle-icon.png"
                                                                             *ngIf="row.children.length > 0"
                                                                             [ngClass]="{'icon-expended': row.expanded }"></span>
    <span *ngIf="i == 0" [ngStyle]="{'vertical-align': 'middle'}"><input type="checkbox" [checked]="row.checked"
                                                                         (click)="row.check(); checkRow($event)"/></span>
    <span (click)="row.toggle()">{{row[cell.dataIndex]}}</span>
  </app-table-cell>

  <div *ngIf="row.expanded">
    <app-table-row [children]="row.children" [padding]="padding * 2" [columns]="columns" [parent]="j"
                   [cellWidth]="cellWidth"></app-table-row>
  </div>
</div>


<!--<div>
  <app-table-cell *ngFor="let row of children">{{ row.Name }}</app-table-cell>²
  <app-table-cell *first="let message">Hello, {{message}}</app-table-cell>
</div>-->
