<div class="mdl-grid" style="height: 115%">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp" style="height: 50%;overflow: auto">
    <!--<app-data-table #table (dataChart)="loadDataChart($event)"  (selectedRow)="selectionRow($event)"></app-data-table>-->
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp" style="height: 50%;overflow: auto">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#performance-panel" class="mdl-tabs__tab">Performance</a>
          <a href="#meter-panel" class="mdl-tabs__tab">Compteurs</a>
        </div>
        <div class="mdl-tabs__panel" id="performance-panel">
        </div>
        <div class="mdl-tabs__panel " id="meter-panel">
        </div>
      </div>
  </div>
</div>