<ba-card title="Filtere" baCardClass="with-scroll">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="type">Analyse Type</label>
        <select class="form-control" id="type" required [(ngModel)]="model.type" name="type" #type="ngModel">
          <option *ngFor="let typeAnalyse of typeAnalyses" [value]="typeAnalyse">{{typeAnalyse}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nature">Nature</label>
        <select label="Nature" id="nature" type="select" class="form-control" name="nature" [(ngModel)]="model.nature"  #nature="ngModel">
          <option *ngFor="let nature of natures">
            {{ nature }}
          </option>
        </select>
      </div>
    </div>
    <label for="nature">Nature</label>
    <aree-date-picker id="datestart" [label]="'Date start'" name="datestart" [(ngModel)]="model.datestart"  #datestart="ngModel" (date)="updateDate($event,'datestart')" ngDefaultControl></aree-date-picker>
    <label for="nature">Nature</label>
    <aree-date-picker id="dateend" [label]="'Date end'" name="dateend" [(ngModel)]="model.dateend"  #dateend="ngModel" (date)="updateDate($event,'dateend')" ngDefaultControl></aree-date-picker>
    <div class="form-group">
      <label for="time">Time</label>
      <select id="time" type="select" class="form-control" name="time" [(ngModel)]="model.time"  #time="ngModel">
        <option *ngFor="let time of times">
          {{ time }}
        </option>
      </select>
    </div>
    <ba-multi-checkbox id="temperature" [(ngModel)]="checkboxModel" [propertiesMapping]="checkboxPropertiesMapping" [ngModelOptions]="{standalone: true}"
      name="temperature"></ba-multi-checkbox>
    <button type="submit" class="btn btn-primary">Validate</button>
  </form>
</ba-card>
{{ formRef.value | json}}
