:host{
  display: flex;
  flex-direction: row;
  width: auto;
}

svg {
  flex : 1;
}

.axis--x path {
  display: inherit;
}

path.line {
  fill: none;
  stroke: red;
  stroke-width: 2.5px;
}

.axis path,
.axis line{
  fill: none;
  stroke: black;
}
